---
layout: default
---
<!--
1. Tag cloud
2. Social
-->
<div id="sidebar1" class="sidebar left col220 clearfix" role="complementary">        
  {% include widget_tags.html %}
  {% include widget_categories.html %}
  {% include widget_twitter.html %}

</div>
<div id="main" class="col700 right clearfix" role="main">
  {% if site.categories.portfolio %}
    <section id="portfolio">
      <div class="title">
        Latest Projects <a class="more" href="/portfolio">see all</a>
      </div>
      <div class="content clearfix">
        <ul id="slider">
          {% for post in site.categories.portfolio limit:10 %}
            <li>
              <a href="{{ post.url }}">
                <div class="alltogether">
                  <div class="thumb">
                    <img width="420" src="/uploads/portfolio/{{ post.images.featured }}" class="attachment-portfolio-thumb-420 wp-post-image" alt="" title="" />
                  </div>
                  <div class="title">{{ post.title }}</div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <div class="line"></div>
  {% endif %}
  {% if site.categories.blog %}
    <section id="posts">
      <div class="title">
        Latest Posts <a class="more" href="/blog">see all</a>
      </div>
      <div class="top"></div>
      <div class="middle">
        {% for post in site.categories.blog limit:10 %}
          {% include post.html param="post" %}
        {% endfor %}
        {% if site.categories.blog.size > 10 %}
          <a class="next" href="/blog/page/2">see more</a>
        {% endif %}
      </div>
      <div class="bottom"></div>
    </section>
    {% endif %}
</div>