---
layout: default
---
<!--
1. Portfolio index
2. Portfolio list
3. Portfolio inside
4. Portfolio tech
2. Tag cloud
3. Short Full post content
-->
<div id="sidebar1" class="sidebar left col220 clearfix" role="complementary">        
  {% include widget_tags.html %}
  {% include widget_categories.html %}
  {% include widget_twitter.html %}

</div>
<div id="main" class="col700 right clearfix" role="main">
  <section id="portfolio">
    <div class="title">
      Latest Projects <a class="more" href="/portfolio">see all</a>
    </div>
    {{ site.projects }}
  </section>
  <div class="line"></div>
  <section id="posts">
    <div class="title">
      Latest Posts <a class="more" href="/blog">see all</a>
    </div>
    <div class="top"></div>
    <div class="middle">
      {% for post in site.categories.blog limit:10 %}
        {% include post.html param="post" %}
      {% endfor %}
      {% if site.categories.blog.size > 10 %}
        <a class="next" href="/blog/page/2">see more</a>
      {% endif %}
    </div>
    <div class="bottom"></div>
  </section> 
</div>