<article class="post type-post status-publish format-standard hentry category-tutorial tag-git clearfix">
  <header>
    <h1 class="h2">
      <a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
        {{ post.title }}
      </a>
    </h1>
    <p class="meta">
      Posted
      <time datetime="{{ post.date }}" pubdate="">{{ post.date | date_to_string }}</time>
      {% if post.categories.size > 1 %}
        <span class="amp">&amp;</span>
        filed under 
        {% for category in post.categories %}
          {% unless forloop.first %}
            <a href="/category/{{ category }}" rel="category tag">{{ category }}</a>
            {% unless forloop.last %}
              ,
            {% endunless %}
          {% endunless %}
        {% endfor %}
        .
      {% endif %}
    </p>
  </header>
  <section class="post_content clearfix">
    {% capture content %}{{ post.content | more: "excerpt" }}{% endcapture %}
    {{ content }}
    {% if content != post.content %}
      <div class="more-link">
        <a href="{{ post.url }}">
          <span class="read-more">Continue reading →</span>
        </a>
      </div>
    {% endif %}
  </section>
  <footer>
    {% if post.tags %}
      <p class="tags">
        <span class="tags-title">Tags:</span>
        {% for tag in post.tags %}
          <a href="/tag/{{ tag }}" rel="tag">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </footer>
</article>