<div id="categories-3" class="widget widget_categories">
  <h4 class="widgettitle">Categories</h4>
  {% if site.categories %}
    <ul>
      {% for category in site.categories %}
        {{ category.posts }}
        {% unless category[0] == 'blog' or category[0] == 'portfolio' %}
          <li class="cat-item">
            <a href="/category/{{ category[0] }}">
              {{ category[0] }}
            </a> ({{ category | last | size }})
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  {% endif %}
</div>