<div id="text-3" class="widget widget_text">
  <div class="textwidget">
    <div class="widget_twitter_original" data-twttr-id="twttr-sandbox-0">
      <a class="twitter-timeline" href="https://twitter.com/ButuzGOL" data-widget-id="371004015904948225">Tweets by @ButuzGOL</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>