---
layout: default
---

<div id="sidebar1" class="sidebar left col220 clearfix" role="complementary">        
  {% include widget_tags.html %}
  {% include widget_categories.html %}

</div>
<div id="main" class="col700 right clearfix" role="main">
  <section id="posts">
    <div class="top"></div>
    <div class="middle">
      <h1 class="archive_title h2">
        <span>Posts Tagged:</span> {{ page.taxonomy }}                                
      </h1>
      {% for post in site.posts %}
        {% for tag in post.tags %}
          {% if tag == page.taxonomy %}
            {% include post.html param="post" %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="bottom"></div>
  </section> 
</div>